<h2>Products</h2>
<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile *ngFor="let product of products">
    <!-- <img src={{product.imgUrl}} width="100" height="100" />
    <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
      {{product.name}}
    </a> -->

    <!-- <button (click)="share(product.name)">Share</button>
    <app-product-alert [product]="product" (notify)="onNotify(product.name)"></app-product-alert> -->
    <!-- <p *ngIf="product.price > 700">
    <button>Notify me!</button>
  </p> -->
    <!-- <div>
      <div *ngIf="product.description">
        Description: {{product.description}}
      </div>
    </div> -->
    <mat-card class="example-card">
      <mat-card-header>
        <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
          {{product.name}}
        </a>
      </mat-card-header>
      <img mat-card-image src={{product.imgUrl}} width="auto" height="100" alt="Photo of a Shiba Inu" class="img-pos">
      <mat-card-content>
        <p *ngIf="product.description">
          Description: {{product.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="share(product.name)">Share</button>
        &nbsp;
        <app-product-alert [product]="product" (notify)="onNotify(product.name)"></app-product-alert>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<!-- <mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile *ngFor="let product of products">
    <h3>
      <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
        {{product.name}}
      </a>
      <img src={{product.imgUrl}} width="100" height="100" />
      <p *ngIf="product.description">
        Description: {{product.description}}
      </p>
    </h3>
  </mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->
<!-- <div style="width: 100%; height: 500px; background: rgba( 206, 38, 38, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.0px );
-webkit-backdrop-filter: blur( 4.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );">Glassmorphic css</div> -->
